<md-dialog>
    <md-content>
        <div layout="column" class="widget-grid panel-nobox" flex>
            <header>
                <div layout="row" flex layout-align="start center">
                    <span>Item History List</span>
                    <span flex></span>
                    <span>Rows: {{c.parent.itemHistoryGrid.rowData.length}}</span>
                </div>
            </header>
            <div angular-grid="c.parent.itemHistoryGrid" class="ag-fresh" style="height: 400px"></div>
        </div>
    </md-content>
    <div class="md-actions">
        <md-button ng-click="c.parent.dESrvc.mdDialogClose()">Continue</md-button>
    </div>
</md-dialog>
